############
## YOURLS

# Ignore server configuration files
.htaccess
*.config
*.conf
[Rr]obots.txt

# Ignore config page/
user/config.php

############
## Tests

includes/**/tests/
build/
coverage/
phpunit.xml
.phpunit.result.cache
tests/yourls-tests-config.php
tests/vendor/
tests/data/auth/config-test-auth-hashed.php
tests/data/htaccess/test*

############
## Environnement

# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
# Mac crap
.DS_Store
# NetBeans files
/nbproject/
.idea

############
## Secrets
nginx-selfsigned.crt
nginx-selfsigned.key
client_secrets.json

############
## Vendors
includes/vendor/

############
## Custom
.vscode
